.p-carousel	{
    background-color: red !important;
}
.p-carousel-container	{
    background-color: red;
}
.p-carousel-items-content	{
    background-color: red;
}
@import "~video-react/styles/scss/video-react";